body {
    background: #FFF1BF;
    font-family:Arial, Arial, Helvetica, sans-serif; 
}

.assignment {
    display:flex;
    padding: 20px;
    border: 2px solid black;
    background:#E1DCFF;
}

.assignment img {
    width:400px;
    margin: 10px;
    border: 4px double #A825E0;
    
}

h1 {
    color: #1e3300;
    text-align:center;
}

a {
    text-decoration: none;
    color: #e4c70d;
}